In [1]:
import numpy as np   
from sklearn.linear_model import LinearRegression
import pandas as pd    
import matplotlib.pyplot as plt 
%matplotlib inline 
import seaborn as sns
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("AIRBNB_DATA.csv")  
df.shape

(74111, 11)

In [4]:
df.head(20)

,id,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
0,6901257,Entire home/apt,3.0,1.0,strict,True,f,100.0,1.0,1.0,5.010635
1,6304928,Entire home/apt,7.0,1.0,strict,True,t,93.0,3.0,3.0,5.129899
2,7919400,Entire home/apt,5.0,1.0,moderate,True,t,92.0,1.0,3.0,4.976734
3,13418779,Entire home/apt,4.0,1.0,flexible,True,f,NaN,2.0,2.0,6.620073
4,3808709,Entire home/apt,2.0,1.0,moderate,True,t,40.0,0.0,1.0,4.744932
5,12422935,Private room,2.0,1.0,strict,True,t,100.0,1.0,1.0,4.442651
6,11825529,Entire home/apt,3.0,1.0,moderate,True,t,97.0,1.0,1.0,4.418841
7,13971273,Entire home/apt,2.0,1.0,moderate,True,f,93.0,1.0,1.0,4.787492
8,180792,Private room,2.0,1.0,moderate,True,f,99.0,1.0,1.0,4.787492
9,5385260,Private room,2.0,1.0,moderate,True,t,90.0,1.0,1.0,3.583519
10,5578513,Private room,2.0,1.0,strict,True,f,93.0,1.0,1.0,4.605170
11,17423675,Entire home/apt,4.0,1.5,strict,True,f,97.0,2.0,2.0,5.010635
12,14066228,Private room,2.0,1.0,flexible,True,f,NaN,1.0,1.0,4.248495
13,2658946,Entire home/apt,6.0,1.5,strict,True,t,89.0,2.0,3.0,5.298317
14,583490,Entire home/apt,2.0,1.0,strict,True,f,100.0,1.0,1.0,4.955827
15,6226658,Private room,2.0,1.5,moderate,True,f,NaN,1.0,1.0,4.094345
16,7499179,Private room,2.0,1.0,strict,False,f,91.0,1.0,1.0,4.317488
17,14648556,Private room,2.0,2.0,strict,True,f,88.0,1.0,1.0,4.595120
18,17589436,Entire home/apt,2.0,1.0,strict,True,f,86.0,1.0,2.0,4.882802
19,18224863,Entire home/apt,8.0,1.0,strict,True,t,72.0,3.0,3.0,4.595120

In [5]:
df.isnull().sum().sort_values(ascending=False)

review_scores_rating    16722
bathrooms                 203
beds                      131
bedrooms                   92
cancellation_policy         8
room_type                   5
cleaning_fee                4
accommodates                3
id                          0
instant_bookable            0
log_price                   0
dtype: int64

Lots of null values for review_scores_rating column. 
Have to figure what to do about these. Maybe I seperate those from the rest of the data and then compare them.

Other null valued rows seem to be somewhat minimal when we are comparing a hundred or two rows to over 74,000 total rows.
Might just drop these rows.

In [6]:
df.describe()

,id,accommodates,bathrooms,review_scores_rating,bedrooms,beds,log_price
count,7.411100e+04,74108.000000,73908.000000,57389.000000,74019.000000,73980.000000,74111.000000
mean,1.126662e+07,3.155125,1.235272,94.067365,1.265797,1.710868,4.782069
std,6.081735e+06,2.153603,0.582054,7.836556,0.852149,1.254142,0.717394
min,3.440000e+02,1.000000,0.000000,20.000000,0.000000,0.000000,0.000000
25%,6.261964e+06,2.000000,1.000000,92.000000,1.000000,1.000000,4.317488
50%,1.225415e+07,2.000000,1.000000,96.000000,1.000000,1.000000,4.709530
75%,1.640226e+07,4.000000,1.000000,100.000000,1.000000,2.000000,5.220356
max,2.123090e+07,16.000000,8.000000,100.000000,10.000000,18.000000,7.600402

In [7]:
df.dtypes

id                        int64
room_type                object
accommodates            float64
bathrooms               float64
cancellation_policy      object
cleaning_fee             object
instant_bookable         object
review_scores_rating    float64
bedrooms                float64
beds                    float64
log_price               float64
dtype: object

interesting why some of these are ints/floats but others are not.

In [17]:
print(len((df['room_type'].value_counts())))
print(df['room_type'].value_counts())
print('')
print(len((df['accommodates'].value_counts())))
print(df['accommodates'].value_counts())
print('')
print(len((df['bathrooms'].value_counts())))
print(df['bathrooms'].value_counts())
print('')
print(len((df['cancellation_policy'].value_counts())))
print(df['cancellation_policy'].value_counts())
print('')
print(len((df['cleaning_fee'].value_counts())))
print(df['cleaning_fee'].value_counts())
print('')
print(len((df['instant_bookable'].value_counts())))
print(df['instant_bookable'].value_counts())
print('')
print(len((df['review_scores_rating'].value_counts())))
print(df['review_scores_rating'].value_counts())
print('')
print(len((df['bedrooms'].value_counts())))
print(df['bedrooms'].value_counts())
print('')
print(len((df['beds'].value_counts())))
print(df['beds'].value_counts())
print('')
print(len((df['log_price'].value_counts())))
print(df['log_price'].value_counts())

3
Entire home/apt    41308
Private room       30635
Shared room         2163
Name: room_type, dtype: int64

16
2.0     31853
4.0     12066
1.0      9434
3.0      7793
6.0      4968
5.0      3444
8.0      1795
7.0       946
10.0      701
16.0      301
9.0       270
12.0      264
14.0      104
11.0       79
15.0       54
13.0       36
Name: accommodates, dtype: int64

17
1.0    58096
2.0     7936
1.5     3801
2.5     1567
3.0     1066
3.5      429
4.0      286
0.5      209
0.0      198
4.5      116
5.0       72
8.0       41
5.5       39
6.0       24
6.5       12
7.0       10
7.5        6
Name: bathrooms, dtype: int64

3
strict      32500
flexible    22543
moderate    19060
Name: cancellation_policy, dtype: int64

2
True     54399
False    19708
Name: cleaning_fee, dtype: int64

2
f    54660
t    19451
Name: instant_bookable, dtype: int64

54
100.0    16215
98.0      4374
97.0      4087
96.0      4081
95.0      3713
93.0      3647
90.0      2852
99.0      2631
94.0      2618
80.0      2163
92.0      2064
91.0      1615
89.0      1120
87.0      1119
88.0      1056
85.0       625
86.0       512
60.0       444
84.0       438
83.0       403
82.0       211
70.0       196
73.0       157
81.0       126
75.0       101
20.0        97
78.0        94
40.0        90
79.0        83
76.0        76
77.0        74
67.0        66
74.0        39
72.0        38
50.0        30
65.0        28
68.0        20
71.0        14
69.0        13
63.0        11
64.0        10
53.0        10
47.0         5
30.0         4
57.0         3
62.0         3
55.0         3
66.0         3
27.0         2
35.0         1
56.0         1
58.0         1
49.0         1
54.0         1
Name: review_scores_rating, dtype: int64

11
1.0     49783
2.0     11351
0.0      6715
3.0      4309
4.0      1330
5.0       355
6.0       106
7.0        38
8.0        14
10.0       10
9.0         8
Name: bedrooms, dtype: int64

18
1.0     45144
2.0     16704
3.0      6442
4.0      3065
5.0      1287
6.0       661
7.0       216
8.0       186
10.0       88
9.0        72
16.0       38
12.0       29
11.0       23
13.0       10
15.0        6
14.0        4
0.0         4
18.0        1
Name: beds, dtype: int64

767
5.010635    2729
4.605170    2707
4.317488    2049
5.298317    1923
3.912023    1920
            ...
6.751101       1
6.639876       1
6.790097       1
6.146329       1
0.000000       1
Name: log_price, Length: 767, dtype: int64

bathrooms, beds, bedrooms, and log_price have some rows that are 0.0 

This doesn't make much sense to have an AirBNB where there is no bathroom, no beds, no bedroom, and/or no price to stay there.
Have to figure out what to do with these.

In [18]:
# dropping the id column
df = df.drop('id', axis=1)

# Replacing categorical vars with actual values
df['room_type'] = df['room_type'].replace({'Shared room': 1, 'Private room': 2, 'Entire home/apt': 3})

df['instant_bookable'] = df['instant_bookable'].replace({'t': 1, 'f': 0})

df['cancellation_policy'] = df['cancellation_policy'].replace({'flexible': 1, 'moderate': 2, 'strict': 3})

df['cleaning_fee'] = df['cleaning_fee'].replace({'True': 1, 'False': 0})

df.head(30)

,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
0,3.0,3.0,1.0,3.0,True,0,100.0,1.0,1.0,5.010635
1,3.0,7.0,1.0,3.0,True,1,93.0,3.0,3.0,5.129899
2,3.0,5.0,1.0,2.0,True,1,92.0,1.0,3.0,4.976734
3,3.0,4.0,1.0,1.0,True,0,NaN,2.0,2.0,6.620073
4,3.0,2.0,1.0,2.0,True,1,40.0,0.0,1.0,4.744932
5,2.0,2.0,1.0,3.0,True,1,100.0,1.0,1.0,4.442651
6,3.0,3.0,1.0,2.0,True,1,97.0,1.0,1.0,4.418841
7,3.0,2.0,1.0,2.0,True,0,93.0,1.0,1.0,4.787492
8,2.0,2.0,1.0,2.0,True,0,99.0,1.0,1.0,4.787492
9,2.0,2.0,1.0,2.0,True,1,90.0,1.0,1.0,3.583519
10,2.0,2.0,1.0,3.0,True,0,93.0,1.0,1.0,4.605170
11,3.0,4.0,1.5,3.0,True,0,97.0,2.0,2.0,5.010635
12,2.0,2.0,1.0,1.0,True,0,NaN,1.0,1.0,4.248495
13,3.0,6.0,1.5,3.0,True,1,89.0,2.0,3.0,5.298317
14,3.0,2.0,1.0,3.0,True,0,100.0,1.0,1.0,4.955827
15,2.0,2.0,1.5,2.0,True,0,NaN,1.0,1.0,4.094345
16,2.0,2.0,1.0,3.0,False,0,91.0,1.0,1.0,4.317488
17,2.0,2.0,2.0,3.0,True,0,88.0,1.0,1.0,4.595120
18,3.0,2.0,1.0,3.0,True,0,86.0,1.0,2.0,4.882802
19,3.0,8.0,1.0,3.0,True,1,72.0,3.0,3.0,4.595120
20,2.0,2.0,1.0,3.0,True,0,98.0,1.0,1.0,4.382027
21,2.0,2.0,1.5,3.0,True,0,89.0,1.0,1.0,3.688879
22,3.0,4.0,1.0,2.0,True,1,99.0,1.0,1.0,4.905275
23,2.0,2.0,1.0,2.0,True,0,100.0,1.0,1.0,4.007333
24,3.0,4.0,1.0,2.0,True,0,NaN,1.0,2.0,6.956545
25,3.0,6.0,1.0,3.0,True,0,100.0,3.0,3.0,5.003946
26,3.0,2.0,1.0,1.0,True,0,100.0,1.0,1.0,4.553877
27,3.0,4.0,1.0,3.0,True,0,100.0,2.0,2.0,5.003946
28,3.0,3.0,1.0,1.0,True,0,95.0,1.0,2.0,5.192957
29,2.0,3.0,1.0,3.0,True,0,88.0,1.0,2.0,4.653960

For some reason the cleaning_fee column isn't changing the True & False values to 1 & 0. Didn't have any issue with the other columns. Need to ask why this is.

In [19]:
df.dtypes

room_type               float64
accommodates            float64
bathrooms               float64
cancellation_policy     float64
cleaning_fee             object
instant_bookable          int64
review_scores_rating    float64
bedrooms                float64
beds                    float64
log_price               float64
dtype: object

In [23]:
## for some reason the True and False values in the cleaning fee column didn't change
## using an alternative approach to try and get the 1 & 0 result we want.

def changer(x):
    if x =="True":
        result=1
    else:
        result=0
    return result

df["cleaning_fee"] = df.cleaning_fee.apply(changer)
df.head(20)

,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
0,3.0,3.0,1.0,3.0,0,0,100.0,1.0,1.0,5.010635
1,3.0,7.0,1.0,3.0,0,1,93.0,3.0,3.0,5.129899
2,3.0,5.0,1.0,2.0,0,1,92.0,1.0,3.0,4.976734
3,3.0,4.0,1.0,1.0,0,0,NaN,2.0,2.0,6.620073
4,3.0,2.0,1.0,2.0,0,1,40.0,0.0,1.0,4.744932
5,2.0,2.0,1.0,3.0,0,1,100.0,1.0,1.0,4.442651
6,3.0,3.0,1.0,2.0,0,1,97.0,1.0,1.0,4.418841
7,3.0,2.0,1.0,2.0,0,0,93.0,1.0,1.0,4.787492
8,2.0,2.0,1.0,2.0,0,0,99.0,1.0,1.0,4.787492
9,2.0,2.0,1.0,2.0,0,1,90.0,1.0,1.0,3.583519
10,2.0,2.0,1.0,3.0,0,0,93.0,1.0,1.0,4.605170
11,3.0,4.0,1.5,3.0,0,0,97.0,2.0,2.0,5.010635
12,2.0,2.0,1.0,1.0,0,0,NaN,1.0,1.0,4.248495
13,3.0,6.0,1.5,3.0,0,1,89.0,2.0,3.0,5.298317
14,3.0,2.0,1.0,3.0,0,0,100.0,1.0,1.0,4.955827
15,2.0,2.0,1.5,2.0,0,0,NaN,1.0,1.0,4.094345
16,2.0,2.0,1.0,3.0,0,0,91.0,1.0,1.0,4.317488
17,2.0,2.0,2.0,3.0,0,0,88.0,1.0,1.0,4.595120
18,3.0,2.0,1.0,3.0,0,0,86.0,1.0,2.0,4.882802
19,3.0,8.0,1.0,3.0,0,1,72.0,3.0,3.0,4.595120

Seems that the changer turned everything to 0's for some reason. Could there be white space or some other reason as to why the "True" values are not being made 1's?